{% extends 'shop/base.html' %}

{% block title %}
Корзина
{% endblock %}

{% block content %}
<h1 class="mt-4 mb-4">Корзина</h1>
    <table class="table table-hover">
     <thead>
        <tr>

            <th scope="col"><h4><b>Название</b></h4></th>
               <th scope="col"><h4><b>Количество</b></h4></th>
               <th scope="col"><h4><b>Цена</b></h4></th>
            </tr>
     </thead>
        <tbody>
        {% for item in cart_items %}
                <tr>
                    <td><h5>{{ item.product.name }}</h5></td>
                    <td><h5>{{ item.quantity }}</h5></td>
                    <td><h5>${{ item.product.price }}2</h5></td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
      <div class="card mb-5">

          </div>
        <div class="d-flex justify-content-end">
         <form action="{% url 'clear_cart' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg me-2">Очистить</button>
          </form>
          <button type="button" class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Оформить заказ</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="customer" class="form-label">Создатель</label>
                      {{ form.customer }}
                    </div>
                    <div class="mb-3">
                      <label for="phone" class="form-label">Телефон</label>
                      {{ form.phone }}
                    </div>
                    <div class="mb-3">
                      <label for="user_id" class="form-label">ID</label>
                      {{ form.user_id }}
                    </div>
                    <div class="mb-3">
                      <label for="type" class="form-label">Тип</label>
                      {{ form.type }}
                    </div>
                    <div class="mb-3">
                      <label for="status" class="form-label">Статус</label>
                      {{ form.status }}
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                  <button type="submit" class="btn btn-primary">Добавить товар</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
            </form>
            <form action="{% url 'products' %}" method="">
                {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Продолжить покупки</button>
            </form>
          </div>




{% endblock %}
