{% extends 'shop/base.html' %}

{% block title %}
Заказы
{% endblock %}

{% block content %}

<table style="width:100%">
    <tr>
        <th> id Заказа </th>
        <th> Покупатель </th>
        <th> Телефон </th>
        <th> Время создания </th>
        <th> Время окончания </th>
        <th> Менеджер </th>
        <th> Тип заказа </th>
        <th> Статус заказа</th>
        <th> Подробнее</th>
    </tr>
    {% for order in orders %}

    <tr>

        <td>{{ order.id}}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.created_at }}</td>
        <td>{{ order.completed_at }}</td>
        <td>{{ order.user_id }}</td>
        <td>{{ order.type }}</td>
        <td>{{ order.status }}</td>
        <td><a href="{% url 'order_detail' %}">Подробнее</a></td>
    </tr>

    {% endfor %}
</table>

{% endblock %}