{% extends 'shop/base.html' %}

{% block title %}
Корзина
{% endblock %}

{% block content %}

   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Тип заказа</th>
        <th scope="col">Статус</th>
        <th scope="col">Менеджер</th>
        <th scope="col">Покупатель</th>
        <th scope="col">Контактный телефон</th>
        <th scope="col">Создан</th>
        <th scope="col">Завершен</th>
      </tr>
    </thead>
    <tbody>
    {% for detail in order_detail %}

    <tr>

        <td>{{ detail.product_id }}</td>
        <td>{{ detail.count }}</td>
         <td>{{ detail.discount }}</td>
        <td>{{ detail.cost }}</td>





    </tr>

    {% endfor %}

    </tbody>
  </table>
{% endblock %}