{% extends 'shop/base.html' %}

{% block title %}
Заказы
{% endblock %}

{% block content %}
<div class="mt-4">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Тип заказа</th>
        <th scope="col">Статус</th>
        <th scope="col">Менеджер</th>
        <th scope="col">Покупатель</th>
        <th scope="col">Контактный телефон</th>
        <th scope="col">Создан</th>
        <th scope="col">Завершен</th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}

    <tr>

        <td>{{ order.id}}</td>
        <td>{{ order.type }}</td>
        <td>{{ order.status }}</td>
         <td>{{ order.user_id }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.created_at }}</td>
        <td>{{ order.completed_at }}</td>



        <td><a href="">Подробнее</a></td>
    </tr>

    {% endfor %}
      
    </tbody>
  </table>
</div>
  
{% endblock %}