{% extends 'shop/base.html' %}

{% block title %}
Продукты
{% endblock %}

{% block content %}

<div class="container px-4 py-5" id="featured-3">
    <h1 class="pb-4 border-bottom">Columns with icons</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for product in products %}
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>{{ product.name }}</h2>
        <p>{{ product.price }} . {{ product.stock }}</p>
        <div class="btn-group" role="group" aria-label="...">
          <form action="{% url 'add_to_cart' product.id %}" method="post">
            <button type="submit" class="btn btn-outline-dark" >
                {% csrf_token %}
          Добавить в корзину
          </button>
          </form>
                <input type="number" id="quantity" name="quantity" min="1">

        </div>


          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
        {% endfor %}
     </div>
  </div>
{% endblock %}